/* ThemeToggle.module.css */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch :global(#input) {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
  overflow: hidden;
}

.sunMoon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

:global(#input:checked)+.slider {
  background-color: black;
}

:global(#input:focus)+.slider {
  box-shadow: 0 0 1px #2196f3;
}

:global(#input:checked)+.slider .sunMoon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

.moonDot {
  opacity: 0;
  transition: 0.3s;
  fill: gray;
}

:global(#input:checked)+.slider .sunMoon .moonDot {
  opacity: 1;
}

.slider.round {
  border-radius: 34px;
}

.slider.round .sunMoon {
  border-radius: 50%;
}

:global(#moon-dot-1) {
  left: 10px;
  top: 3px;
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 4;
}

:global(#moon-dot-2) {
  left: 2px;
  top: 10px;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 4;
}

:global(#moon-dot-3) {
  left: 16px;
  top: 18px;
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 4;
}

.lightRay {
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

:global(#light-ray-1) {
  left: -8px;
  top: -8px;
  width: 43px;
  height: 43px;
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

:global(#light-ray-2) {
  left: -50%;
  top: -50%;
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

:global(#light-ray-3) {
  left: -18px;
  top: -18px;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.cloudLight {
  position: absolute;
  fill: #eee;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloudDark {
  position: absolute;
  fill: #ccc;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

:global(#cloud-1) {
  left: 30px;
  top: 15px;
  width: 40px;
}

:global(#cloud-2) {
  left: 44px;
  top: 10px;
  width: 20px;
}

:global(#cloud-3) {
  left: 18px;
  top: 24px;
  width: 30px;
}

:global(#cloud-4) {
  left: 36px;
  top: 18px;
  width: 40px;
}

:global(#cloud-5) {
  left: 48px;
  top: 14px;
  width: 20px;
}

:global(#cloud-6) {
  left: 22px;
  top: 26px;
  width: 30px;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.3s;
}

.star {
  fill: white;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

:global(#input:checked)+.slider .stars {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

:global(#star-1) {
  width: 20px;
  top: 2px;
  left: 3px;
  animation-delay: 0.3s;
}

:global(#star-2) {
  width: 6px;
  top: 16px;
  left: 3px;
}

:global(#star-3) {
  width: 12px;
  top: 20px;
  left: 10px;
  animation-delay: 0.6s;
}

:global(#star-4) {
  width: 18px;
  top: 0px;
  left: 18px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}